fieldset.component {
    border-radius: 7px;
    border: 1px solid #e5e5e5;
    padding: 0 1em 1em 1em;
}

legend.component {
    color: gray;
    text-align: left;
    width: auto;
    padding: 0 20px;
    margin: 0;
    border-bottom: none;
}
